.dropdowon {
    border-radius: 6px !important;
}

.move-row {
    height: 3.2rem;
    max-height: 3.2rem;
}

.fixed-column {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .dateRangePicker div {
    background-color: theme('colors.teal');
    color: white;
} */